---
layout: default
---

  <div id="page">
    <div id="fh5co-aside" style="background-image: url({{ page.image.feature | prepend: site.baseurl_featured_img }})" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <nav role="navigation">
        <ul>
          <li><a href="{{ site.baseurl }}"><i class="icon-home"></i></a></li>
        </ul>
      </nav>
      <div class="page-title">
        <img src="http://devdutt.ga/images/avatar.jpg" alt="Devdutt Shenoi">
        <span>{{ page.date | date_to_string }}</span>
        <h2>{{ page.title }}</h2>
      </div>
    </div>
    <div id="fh5co-main-content">
      <div class="fh5co-post">
        <div class="fh5co-entry padding">
          <div>
            {{ content }}
          </div>

          <div class="disqus">
            {% include disqus.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="fh5co-navigation">
      {% if page.previous.url %}
      <div class="fh5co-cover next fh5co-cover-sm" style="background-image: url( {{ page.previous.image.thumb | prepend: site.baseurl_featured_img }} )">
        <div class="overlay"></div>
        <a class="copy" href="{{ page.previous.url }}">
          <div class="display-t">
            <div class="display-tc">
              <div>
                <span>Previous page</span>
                <h2>{{ page.previous.title }}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="fh5co-cover prev fh5co-cover-sm" style="background-image: url({ page.next.image.thumb | prepend: site.baseurl_featured_img })">
        <div class="overlay"></div>
        <a class="copy" href="https://geekhub.ga/codes-are-magic-spells-7197dd63e6b1#.yiiianvb2">
          <div class="display-t">
            <div class="display-tc">
              <div>
                <span>Previous Post</span>
                <h2>Codes are Magic spells</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <footer>
    {% include footer.html %}
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>

  <script src="{{ site.baseurl }}/main.js" charset="utf-8"></script>
